p {
  font-family: Arial, Helvetica, sans-serif;
}
  h1,h2,h3,h4,h5,li {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline black;
  }
  main{
    background-color: white;
  }


  .flexWrapper{
      display: flex;
  }

 

  .NavBarText{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  .Footer{
   max-width:  100%;
   margin-top: 10%;
  }